body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    font-family: 'Times New Roman', Times, serif;
  }
  
  [data-theme="dark"] body {
    background-color: black;
    color: white;
  }
  
  [data-theme="dark"] a {
    color: white; 
  }
  
  [data-theme="light"] a {
    color: black; 
  }
  

  
  .botao-tema {
    border-radius: 50%;
    font-size: 1.7vw;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s, box-shadow 0.3s;
  }
  
  

  

  [data-theme="dark"] .navBar {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); /* Sombra clara para containers no tema escuro */
  }
  


/* Responsividade para o botão em telas menores */
@media (max-width: 768px) {
  .botao-tema {
      font-size: 2rem; /* Aumentei o tamanho do botão para dispositivos menores */
      padding: 18px; /* Aumentei o padding para melhorar a interação */
  }
}

@media (max-width: 480px) {
  .botao-tema {
      font-size: 1.6rem; /* Tamanho maior para telas menores */
      padding: 20px; /* Aumentei o padding para melhorar a usabilidade */
  }
}