.navBar {
    padding: 1%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navLista {
    list-style: none;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.navItem {
    font-size: 1.4em;
    font-weight: bold;
}

.navItem:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
}

.navLink {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 6px;
    transition: all 0.5s ease-in-out;
}

.navLink:hover {
    /* Cor de fundo leve para hover (pode ser controlada depois por tema) */
    filter: brightness(0.95); /* efeito visual sem definir cor */
}



